body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s, transform 0.3s;
}

.container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0; 
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #0175b4; 
  outline: none; 
  box-shadow: 0 0 5px rgba(1, 117, 180, 0.3); 
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background-color: #0175b4; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #005a8c; 
}

#message {
  color: black;
  margin-top: 10px;
  text-align: center; 
  font-weight: bold; 
}


h2 {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  text-align: center;
  color: #666666;
  font-size: 0.9rem;
}

a {
  color: #0175b4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
