* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Normal', 'Arial Narrow', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.sidebar {
    margin-left: 2px;
    background-color: #003049;
    color: white;
    height: 100vh;
    padding: 20px;
    width: 20%;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 0px 0px 6px 0px #1b1a1a;
}

.sidebar h2 {
    color: #fff7e8;
    margin: 1rem 0px 1rem 0px;
}

.list {
    font-weight: 400;
}

.sidebar a:hover {
    color: #d5d5d5;
}

#line {
    margin-top: auto;
    border-top: 1px solid #fffdfd;
}

.logout {
    font-weight: bold;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar .logout {
    color: white;
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}

/* ------------------- */

.project-card {
    background-color: #f8f7f7dc;
    border: none;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 1px 2px 0px #d8d8d8;
}

.expand-btn {
    margin-top: 0.5rem;
    height: 4vmin;
    width: 10vmin;
    font-size: 2vmin;
    background-color: #003049;
    color: #ffffff;
    border: none;
}

.expand-btn:hover {
    background-color: #c1121f;
}

.employee-list {
    margin-top: 10px;
}

/* ---------------------------------- */

.main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    align-content: space-between;
    margin-left: 20%;
    padding: 40px;
}

.srch {
    border-radius: 1rem;
    border: 2rem;
    box-shadow: 0px 0px 4px 0px #000000;
}

.search-bar button {
    padding: .8rem;
    font-size: 0.8rem;
    color: #fcfcfcf8;
    background-color: #c1121ef6;
    border-radius: 1rem;
    border: 2rem;
    box-shadow: 0px 0px 3px 0px #000000;
}

.search-bar button:hover {
    background-color: #c7000d;
    color: #ffffff;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
}


.filter-bar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.filter-bar button {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    font-weight: 540;
}

.filter-bar button:hover {
    transform: translateY(-5px);
    color: #003566;
}

/* --------------------------- */
.request-list{
    display: flex;
    flex-direction: column;
}
.employee-list {
    display: flex;
    flex-direction: column;
}

.employee-card #empname {
    margin-bottom: 1%;
    font-weight: 700;
}

.request-card{
    background-color: #f8f7f7dc;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 1px 2px 0px #d8d8d8;
}

.employee-card  {
    background-color: #f8f7f7dc;
    border: none;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 1px 2px 0px #d8d8d8;
}

.employee-card .details {
    display: flex;
    font-size: larger;
    justify-content: space-between;
    flex-direction: row;
}
.request-card .details{
    display: flex;
    font-size: larger;
    justify-content: space-between;
    flex-direction: row;
}
.employee-card .actions .request-card .actions{
    display: flex;
    flex-direction: column;
}


.lst {
    display: flex;
    justify-content: space-between;
}

.employee-card .actions button,
.employee-card .actions i {
    padding: .5rem;
    color: #e4e4e4;
    background-color: #003049;
    border: 2rem;
    box-shadow: 0px 0px 1.8px 0px #000000;
}

.lst button:hover {
    background-color: #003566f2;
    color: #fffffff3;
}

/* ------------------------------- */

.message {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.message.success {
    background-color: #4CAF50;
    color: white;
}

.message.error {
    background-color: #f44336;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 0px #757575;
}

.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: black;
}

.modal-content form label {
    display: block;
    margin-top: 10px;
}

.modal-content form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.modal-content form button {
    background-color: #003049;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.modal-content form button:hover {
    background-color: #003566f2;
    color: #fffffff3;
}